<div class="plugin">
  <table class="plugin-buttons">
    <tr>
      <td><div id="button-power"></div></td>
    </tr>
    <tr>
      <td><div id="button-restart"></div></td>
    </tr>
  </table>
  <table class="plugin-head">
    <tr>
      <td width="1%">
        <div id="status-icon"></div>
      </td>
      <td>
        <table style="padding-left:10px; padding-right:10px">
          <tr>
            <td width="1%">Name:</td>
            <td><div id="instance-name"></div></td>
          </tr>
          <tr style="font-size:10px">
            <td>Type:</td>
            <td><div id="type"></div></td>
          </tr>
          <tr style="font-size:10px">
            <td valign="top">Desc:</td>
            <td><div id="description"></div></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table class="plugin-body">
    <tr>
      <td width="1%" valign="top" style="padding-right: 5px;">RIC(s):</td>
      <td><div id="ric-list"></div></td>
    </tr>
    <tr>
      <td valign="top">Config:</td>
      <td><div id="param-list" style="font-size:10px"></div></td>
    </tr>
  </table>
</div>
