<table class="hwInfo">
  <tr>
    <td style="padding-right:5px;">CPUs:</td>
    <td><div id="cpus" style="text-align:right;"></div></td>
    <td style="padding-right:5px;">JVM memory:</td>
    <td><div id="memory" style="text-align:right;"></div></td>

    <td style="padding-right:5px;">OS:</td>
    <td><div id="os-name" style="text-align:right;"></div></td>

  </tr>
  <tr>
    <td style="padding-right:5px;">Temp:</td>
    <td><div id="temperature" style="text-align:right;"></div></td>

    <td style="padding-right:5px;">Disk space:</td>
    <td><div id="disk-space" style="text-align:right;"></div></td>

    <td style="padding-right:5px;"></td>
    <td><div id="os-version" style="text-align:right;"></div></td>
  </tr>
</table>
