<div class="action">
  <table class="action-buttons">
    <tr>
      <td><div id="button-power"></div></td>
    </tr>
    <tr>
      <td><div id="button-reconnect"></div></td>
    </tr>
  </table>
  <table class="action-head">
    <tr>
      <td width="1%">
        <div id="status-icon"></div>
      </td>
      <td>
        <table style="padding-left:10px; padding-right:10px">
          <tr>
            <td width="1%">Name:</td>
            <td><div id="action-name"></div></td>
          </tr>
          <tr style="font-size:10px">
            <td>Heartbeat:</td>
            <td><div id="heartbeat-interval"></div></td>
          </tr>
          <tr style="font-size:10px">
            <td valign="top">Desc:</td>
            <td><div id="description"></div></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table class="action-body">
    <tr>
      <td>RIC(s):</td>
      <td><div id="ric-list"></div></td>
    </tr>
    <tr>
      <td>Host:</td>
      <td><div id="action-host"></div></td>
    </tr>
    <tr>
      <td>Last heartbeat:</td>
      <td><div id="last-heartbeat"></div></td>
    </tr>
    <tr>
      <td>Last execution:</td>
      <td><div id="last-execution"></div></td>
    </tr>
  </table>
</div>
