<?xml version="1.0" encoding="UTF-8"?>
<ffw-alertsystem-config>
  <pocsag-port></pocsag-port>

  <alertactions>
    <alertaction instanceName="">
      <packageName>ffw.alertmonitor.actions</packageName>
      <className></className>
      <active>false</active>
      <description></description>
      <rics>
        <ric></ric>
      </rics>
      <params>
        <param name=""></param>
      </params>
    </alertaction>
  </alertactions>
</ffw-alertsystem-config>
