# Maven
target/
*.jar

# Eclipse IDE
**/.settings/
.metadata/
.recommenders/
.classpath
.project

# ffw-alertsystem
log/
certificates/
config-*.xml
.alertmonitor.lock
.alertreceiver.lock
.watchdog.lock
