* {
    margin: 0px;
    padding: 0px;
    font-family: Arial
}

html, body {
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
    padding: 20px;
}
.leftWrapper {
    height: 100%;
    width: 35%;
}
.rightWrapper {
    height: 100%;
    width: 65%;
    padding-left:20px;
}

div.left {
    height: 100%;
    width: 100%;
}
div.right {
    height: 100%;
    width: 100%;
    border: 1px dashed black;
    border-radius: 5px;
}


div.leftContainer {
    
}
div#alertTime {
    font-size: 200%;
    margin-bottom: 20px;
}
div#timeSinceAlert {
    font-size: 700%;
    border-bottom: 1px dashed black;
    margin-bottom: 40px;
}

.alertKeyword {

    border: 1px dashed black;
    margin-bottom: 40px;
}


div.mapContainer {
    height: 100%;
    width: 100%;
}
div#map {
    height: 100%;
    width: 100%;
}
div#mapInfo {
    position:absolute;
    bottom: 5%;
    right: 3%; 
    
    height: 10%;
    width: 20%;
    
    background: grey;
    opacity: 0.5;
    border: 1px dashed black;
    border-radius: 5px;
}